In [1]:
#Importar los módulos necesarios para el funcionamiento de nuestro programa
import requests
import pandas as pd

In [2]:
#cURL(cmd) Request del website convertida a Python utilizando curl.trillworks.com
#### Esta request busca autos 'Tesla' en 'San Francisco, CA' ###
headers = {
    'authority': 'www.autolist.com',
    'sec-ch-ua': '^\\^Google',
    'dnt': '1',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
    'accept': '*/*',
    'x-requested-with': 'XMLHttpRequest',
    'x-autolist-session-guid': '256dd1a2-3af4-4fd1-9625-f33a62837975',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.autolist.com/listings',
    'accept-language': 'en-US,en;q=0.9',
    'cookie': 'ec=eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzkzLjAuNDU3Ny44MiBTYWZhcmkvNTM3LjM2In0=; client_guid_timestamp=6cb7eb43-f98b-4a30-b5d8-b09d1f73972e.1631848570197; scavenger-a493=i2edJn8U8quG2BtrlZCXcua4KB62fcJRrAhaI/t9eYZNJczdHQYj3P0Y4s6myhEl4IbJl8vp9L0oN+SXDh2fFcTvJ/vA/hPyRJ0ohE6LnQGIee5ACCL3nGqW5xFg3QnijfTypiJhVgTfPjk3c81AtkxzR54e+BHqQL0DI6/oWNd7iIkgvHaWjuilZuITytvFV0IAUJ0bX041NuAIFpx8K90bzfPLeAKgkwc0lpwB3cLwm8NcNKMD3xELdjI6leANl5jZJ9KzZ3K+5J7nCpxnAynFJJt2e95bby70BTVZ0qdWtSWGgwFxEdjmesrF42H7EgAjt4LMIKDuRVtbhVwu/q/wUhPoUZvZb6F+CbFpxMXuZTpd27JmWUrboqGTfyS3Nr7gV1kl6hr+8w0aOlmo8NlrdmNRb0u51Ex4zu4JTymiAUsWvS9JhNr/uvk4GVvM3kafDQeKq7v+xHkB/lCvPkqLEifYP7VVan6h5ZmvaQTgULjs0N5JhUd76Pt6c/tY5R0v8R67gjgbvW8n/4Gqzw==',
}
params = (
    ('make', 'Tesla'),
    ('location', 'San^%^20Francisco,^%^20CA'),
    ('latitude', '37.7749295'),
    ('longitude', '-122.4194155'),
    ('radius', '50'),
    ('page', '1'),
)
response = requests.get('https://www.autolist.com/api/cwv/seo/listings', headers=headers, params=params)

In [3]:
#Visualizar el JSON de la variable "response" creada por el step anterior
#### COMENTADO PARA AHORRAR ESPACIO ####
#response.json()

In [4]:
#Asignar una variable a response.json() para que sea más fácil acceder
resultado_json = response.json()

In [5]:
#Visualizar los elementos dentro de la clave "search_results" del diccionario resultado_json
#### COMENTADO PARA AHORRAR ESPACIO ####
#resultado_json['search_results']

In [6]:
#Asignar una variable a resultado_json['search_results'] para que sea más fácil acceder
search_results = resultado_json['search_results']

In [7]:
#Crear listas vacías a las que se agregarán los datos que queremos obtener del website
modelo = []
millaje = [] #Se puede convertir en kilometraje haciendo int() y luego * 1.60934
año = []
concesionaria = []
precio = []

In [8]:
#Crear un loop que en orden añada uno por uno los datos que queremos a las listas que definimos en el paso anterior
for resultado in search_results:
    modelo.append(resultado['model'])
    millaje.append(resultado['mileage'])
    año.append(resultado['year'])
    concesionaria.append(resultado['dealer_name'])
    precio.append(resultado['price'])

In [14]:
#Crear y visualizar un dataframe para estimar si nuestros resultados son correctos
tesla_df = pd.DataFrame({'Modelo':modelo, 'Millaje':millaje, 'Año':año, 'Concesionaria':concesionaria, 'Precio':precio})
tesla_df

,Modelo,Millaje,Año,Concesionaria,Precio
0,Model 3,"30,924 Miles",2018,Shift SF - Test Drives Delivered To You,"$42,950"
1,Model 3,"14,758 Miles",2019,Shift SF - Test Drives Delivered To You,"$41,450"
2,Model 3,"7,148 Miles",2018,Shift SF - Test Drives Delivered To You,"$45,950"
3,Model 3,"26,080 Miles",2018,Shift SF - Test Drives Delivered To You,"$43,450"
4,Model 3,"18,556 Miles",2019,Shift SF - Test Drives Delivered To You,"$41,950"
5,Model S,"75,609 Miles",2014,Shift SF - Test Drives Delivered To You,"$35,950"
6,Model 3,"9,739 Miles",2020,Shift SF - Test Drives Delivered To You,"$51,950"
7,Model 3,"19,632 Miles",2018,Shift SF - Test Drives Delivered To You,"$44,500"
8,Model 3,"39,895 Miles",2018,Shift SF - Test Drives Delivered To You,"$41,500"
9,Model 3,"10,816 Miles",2018,Shift SF - Test Drives Delivered To You,"$45,950"
10,Model 3,"31,331 Miles",2018,Future Chrysler Dodge Jeep Ram Of Concord,"$48,950"
11,Model 3,"29,261 Miles",2019,Shift SF - Test Drives Delivered To You,"$46,500"
12,Model 3,"22,234 Miles",2019,Shift SF - Test Drives Delivered To You,"$41,500"
13,Model 3,"37,411 Miles",2019,Shift SF - Test Drives Delivered To You,"$39,950"
14,Model 3,"19,297 Miles",2018,North State Auto Sales,"$46,300"
15,Model 3,"19,331 Miles",2019,Shift SF - Test Drives Delivered To You,"$39,950"
16,Model 3,"8,039 Miles",2020,Shift SF - Test Drives Delivered To You,"$53,500"
17,Model 3,"23,328 Miles",2021,One Toyota Of Oakland,"$58,961"
18,Model 3,"15,828 Miles",2018,Shift SF - Test Drives Delivered To You,"$40,500"
19,Model 3,"15,222 Miles",2018,Shift SF - Test Drives Delivered To You,"$39,950"

In [15]:
#Exportar nuestro dataframe a un archivo excel
tesla_df.to_excel('teslas_sfca.xlsx', index=False)